{% extends 'base.html' %}
{% block content %}

<h1>Favorite Song Detail</h1>

{% for song in songs %}
  <h2>Song Information</h2>
  <p>Song Title: {{ song.song_title }}</p>
  <p>Album Title: {{ song.album.album_title }}</p>
  <p>Artist Name: {{ song.album.artist.artist_name }}</p>

  <h2>Artist Information</h2>
  <p>Artist Name: {{ song.album.artist.artist_name }}</p>
  <p>Artist Genre: {{ song.album.artist.artist_genre }}</p>

  <h2>Album Information</h2>
  <p>Album Title: {{ song.album.album_title }}</p>
  <p>Release Date: {{ song.album.release_date }}</p>
{% endfor %}



{% endblock %}
